<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BarcodeGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BarcodeGenerator.Properties.Settings>
            <setting name="LastSelectedItem" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelTemplates" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateName" serializeAs="String">
                <value />
            </setting>
            <setting name="PaperSize" serializeAs="String">
                <value />
            </setting>
            <setting name="SheetWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="SheetHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="MarginOX" serializeAs="String">
                <value />
            </setting>
            <setting name="MarginOY" serializeAs="String">
                <value />
            </setting>
            <setting name="MarginIX" serializeAs="String">
                <value />
            </setting>
            <setting name="MarginIY" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelWidth" serializeAs="String">
                <value />
            </setting>
            <setting name="LabelHeight" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfLabels" serializeAs="String">
                <value />
            </setting>
            <setting name="NumberOfColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSelectedBarcodeType" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateSettingsStorage" serializeAs="String">
                <value>&lt;Templates&gt;&lt;/Templates&gt;</value>
            </setting>
            <setting name="BarcodeHistoryAssociations" serializeAs="String">
                <value />
            </setting>
        </BarcodeGenerator.Properties.Settings>
    </userSettings>
</configuration>